* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: lighten(gray, 42%);
    // font-family: 'Nanum Gothic', serif;
    font-family: 'Ubuntu', sans-serif;
}