.contents-wrapper {
    display: block;
    position: fixed;
    top: $header-height;
    left: $header-height;
    right: 0;
    bottom: 0;
    z-index: 0;

    .subcontents-wrapper {
    	padding: 2rem;

        .main-title {
            color: $oc-gray-8;
        }

        @import 'WriteRoute';
        @import 'OrdererRoute';
    }
}