.contents-wrapper {
    display: block;
    top: $header-height;
    left: $header-height;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 0;

    .subcontents-wrapper {
    	padding: 1rem 2rem 2rem 1rem;
    }
}