&.flex {
    display: flex;

    .search-list-wrapper {
        flex-grow: 1;
        width: 70%;

        @include media("<tablet") {
            span:first-child {
                display: none;
            }

            input {
                width: 41rem;
            }
        }

        @include media("<=phone") {
            input {
                min-width: 21rem !important;
                width: 100%;
            }
        }
    }

    .day-picker {
        flex-grow: 0;

        .calendar-icon {
            display: none;
        }

        @include media("<tablet") {
            position: absolute;
            right: .5rem;

            .calendar-icon {
                display: inline-block;
                position: absolute;
                top: 2px;
                right: 0;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                border: 1px solid rgb(122, 197, 97);
                background: white;
                text-align: center;
                color: gray;
                font-size: 1.2rem;
                padding-top: 4px;
                padding-left: 5px;

                &:hover {
                    border-color: rgb(34, 146, 0);
                    color: rgb(34, 146, 0);
                }

                &:active, &.active {
                    border-color: rgb(34, 146, 0);
                    color: red;
                }
            }

            .card {
                display: none;
                padding-bottom: .5rem;
                min-height: 0;
                margin-bottom: 1rem;

                &.active {
                    display: block;
                    position: absolute;
                    top: 2.5rem;
                    right: .5rem;
                }
            }
        }

        @include media("<=phone") {
            .calendar-icon {
                right: 2px;
            }
        }
    }

    .DayPicker-wrapper {
        padding-bottom: 0px;
        outline: none;

        .DayPicker-Day--existOrder {
            position: relative;

            &:after {
                content: '';
                display: inline-block;
                position: absolute;
                width: 4px;
                height: 4px;
                border-radius: 100%;
                background: red;
                right: 2px;
                top: 2px;
            }
        }

        .DayPicker-Footer {
            text-align: center;

            > button {
                outline: none;
                padding-top: 5px;
                padding-bottom: 5px;
                border-radius: 5px;
                color: rgb(34, 146, 0);

                &:active {
                    font-weight: bold;
                    background: rgb(178, 253, 154);
                }
            }
        }

        @include media("<tablet") {
            .DayPicker-Month {
                margin: .2rem;
            }

            .DayPicker-Footer {
                padding: 0;
            }
        }
    }

    .search-txt {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 1rem 1.7rem 0;
        padding-top: 1.4rem;
        border-top: 1px solid lightgray;
        line-height: 1.2;

        @include media("<tablet") {
            margin: .8rem 0 0;
            padding-top: 1rem;
        }

        > b {
            border-radius: 100%;
            padding: .2rem .25rem;
            background: white;
            border: 1px solid darkgray;
            font-size: .7rem;
            vertical-align: middle;
            color: gray;
        }

        > span {
            color: red;
            margin-left: .5rem;
            padding: .2rem .4rem;
            background: white;
            border-radius: 3px;
            border: 1px solid darkgray;
        }
    }
}