.category-graph {
    padding-left: 1.5rem;
    transition: all .4s;

    #category-chart {
        flex: 3;
    }

    .category-detail {
        flex: 1;
        height: 100%;
        border: 1px solid darkgray;
        border-radius: 3px;
        margin-right: 1rem;
        padding-bottom: .5rem;

        .detail-title {
            padding: .7rem 1rem;
            background: $oc-blue-6;
            color: white;
        }
    }

    .title {
        margin-bottom: 1.5rem;
        
        .dropdown {
            margin-left: 1rem;
        }
    }
}
