.category-graph {
    padding-left: 1.5rem;
    transition: all .4s;

    #category-chart {
        flex: 5;
    }

    .category-detail {
        flex: 1;
        height: 100%;
        border: 1px solid $oc-blue-4;
        border-radius: 4px;
        margin-right: 3rem;
        padding-bottom: .15rem;
        background: $oc-blue-7;

        .detail-title {
            padding: .7rem 1rem;
            background: $oc-blue-6;
            color: white;
            margin-bottom: 0px;
            border-radius: inherit;
        }

        .detail-content {
            padding: .6rem 1.5rem;
            background: white;
            position: relative;

            .detail-count {
                display: inline-block;
                position: absolute;
                width: 25px;
                height: 25px;
                text-align: center;
                font-size: 1rem;
                line-height: 1.6;
                right: 1rem;
                top: 50%;
                background: $oc-blue-7;
                color: white;
                transform: translateY(-50%);
                border-radius: 100%;
                // padding: .2rem .55rem;
            }
        }

        .detail-content + .detail-content {
            border-top: 1px solid lightgray;
        }
    }

    .title {
        margin-bottom: 1.5rem;
        
        .dropdown {
            margin-left: 1rem;
        }
    }

    @include media("<tablet") {
        .category-detail {
            display: none;
        }
    }
}
