
.input {
	min-width: 250px;
}

.active {
	&.selected {
		&.item {
			background: rgba(255, 0, 76, 0.12);
		}
	}
}

.date_input {
	min-width: 197px;
	margin-left: -2px !important;
}

.prequired::after {
	content: '*';
	margin: -.2em 0 0 .2em;
	color: #db2828;
	vertical-align: top;
	display: inline-block;
}
