.user-info {
	display: inline-block;
	float: right;
	height: 2.6rem;
	margin-top: 0.7rem;
	padding-left: 1rem;
	padding-right: 1rem;
	line-height: 2.6rem;
	font-weight: 700;
	user-select: none;

	.user-name {
		display: inline-block;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		color: $oc-violet-8;
		border-top-left-radius: 0.3rem;
		border-bottom-left-radius: 0.3rem;
		background: white;
	}

	.logout-btn {
		display: inline-block;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		border-left: 1px solid $oc-gray-5;
		color: red;
		background: $oc-red-1;
		border-top-right-radius: 0.3rem;
		border-bottom-right-radius: 0.3rem;
		cursor: pointer;
		transition: all 0.1s ease-in-out;

		&:hover, &:active {
			color: black;
		}

		&:hover {
			background: $oc-red-3;
		}

		&:active {
			background: $oc-red-4;
		}
	}
}