.weather-detail-wrapper {
	text-align: center;
	border-radius: 5px;

	.weather-light-info {
		padding: 1rem;
		cursor: pointer;

		b {
			margin-right: 0.5rem;
		}
	}
	.weather-light-info.over {
		background: linear-gradient(rgba(0, 191, 255, 0.2), rgba(255, 255, 255, 0.2) 80%);
	}

	.weather-detail-info {
		padding: 2rem 1rem 1rem;
		border-top: 1px solid $oc-gray-4;

		.weather-detail {
			display: inline-block;
			position: relative;

			.weather-sky {
				float: left;
			}

			.weather-temp-hum {
				float: left;
				margin-left: 1.2rem;
				border-left: 1px solid $oc-gray-4;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				padding-left: 1rem;
				height: 100%;
				top: -0.7rem;
				position: relative;

				p span {
					position: relative;
					font-size: 2.4rem;
					margin-left: 0.5rem;
				}

				.temperature, .humidity {
					text-align: left;
				}

				.temperature + .humidity {
					padding-top: 1rem;
				}
			}

			.weather-extras {
				clear: both;
				display: flex;
				flex-direction: row;

				.extra {
					flex: 1;
				}

				// .extra + .extra {
				// 	padding: 0 0.3rem;
				// }
			}
		}
	}

	.weather-date {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border-top: 1px solid $oc-gray-4;
		background: linear-gradient(0deg, rgba(200, 200, 200, 0.2), rgba(255, 255, 255, 0.2) 60%);

		.weather-basetime {
			text-align: right;

			.reload-time {
				font-size: 0.8rem;
				margin-right: 0.5rem;
			}

			.reload-btn {
				margin-right: 0.5rem;
				font-size: 0.7rem;
			}
			.reload-btn.day {
				color: rgba(240, 62, 62, 0.9)!important;
				box-shadow:0 0 0 1px rgba(240, 62, 62, .5) inset;
			}
			.reload-btn.night {
				color: rgba(252, 196, 19, .9)!important;
				box-shadow: 0 0 0 1px rgba(252, 196, 19, .5) inset;
			}
		}
	}
}

.weather-detail-wrapper.day {
	background: white;
	color: $oc-gray-6;
}
.weather-detail-wrapper.night {
	background: $oc-gray-7;
	color: $oc-gray-1;
}
