.wi.day {
    color: $oc-red-7;
}

.wi.night {
	color: $oc-yellow-5;
}

.wi.mini {
	font-size: 0.8rem;
}

.wi.normal {
    font-size: 1.2rem;
}

.wi.middle {
    font-size: 2rem;
}

.wi.big {
    font-size: 3rem;
}

.wi.huge {
    font-size: 4rem;
}
