.card {
    padding: 1.2rem .7rem;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
    line-height: 1.2;
    text-align: left;
    background: white;
    font-size: 1.2rem;
    min-height: 300px;

    // No Border Radius
    &.rectangle {
        border-radius: 0px;
    }

    // No Dropshadow
    &.noshadow {
        box-shadow: none;
    }

    &.transparent {
        background: rgba(white, .15);
        color: white;

        .title {
            color: white;
        }
    }

    // Top Border Color
    &.red {
        border-top: 2px solid red;
    }
    &.blue {
        border-top: 2px solid blue;
    }
    &.green {
        border-top: 2px solid green;
    }
    &.violet {
        border-top: 2px solid violet;
    }
    &.orange {
        border-top: 2px solid orange;
    }

    .title {
        font-weight: 600;
        // font-size: 1rem;
        // color: gray;
        color: darkgray;
        margin-bottom: .7rem;
        letter-spacing: .5px;
        cursor: default;
        user-select: none;

        &:after {
            content: '';
            position: absolute;
            top: 40px;
            left: 10px;
            right: 10px;
            height: 1px;
            background: radial-gradient(circle, lighten(gray, 40%), lighten(gray, 40%) 60%, rgba(255, 255, 255, .1));
        }
    }
}
