.pager-wrapper {
    list-style: none;
    text-align: center;
    -webkit-padding-start: 0;

    &.hide {
        display: none;
    }

    li {
        display: inline-block;
        cursor: pointer;
        user-select: none;
    }

    .pager {
        color: gray;
        transition: all .2s ease-in-out;

        &.pager-number {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid gray;
            color: black;

            &:hover {
                background: gray;
            }

            &:active, &.active {
                width: 24px;
                height: 24px;
                padding-top: 2px;
                font-size: 1.2rem;
                font-weight: 600;
                border: 0;
                background: black;
                color: white;
            }
        }

        &.pager-number + &.pager-number {
            margin-left: .5rem;
        }

        &.pager-first, &.pager-last, &.pager-prev, &.pager-next {
            &:hover {
                color: black;
            }
        }

        &.pager-first {
            margin-right: .5rem;
        }
        &.pager-last {
            margin-left: .5rem;
        }
        &.pager-prev {
            margin-right: 1rem;
        }
        &.pager-next {
            margin-left: 1rem;
        }
    }
}