a.menuitem {
    font-size: 1.5rem;
    padding: 1rem;
    display: block;
    position: relative;
    color: $oc-gray-4;
    text-decoration: none;

    &:hover, &.active, &:active,
    &.white:hover, &.white.active, &.white:active
    {
        background: $oc-gray-6;
        color: white;
    }

    &.active, &:active,
    &.white.active, &.white:active,
    &.red.active, &.red:active,
    &.green.active, &.green:active,
    &.teal.active, &.teal:active,
    &.blue.active, &.blue:active,
    &.grape.active, &.grape:active
    {
        &:after {
            content: "";
            background: $oc-gray-1;
            position: absolute;
            right: -0.4rem;
            top: 50%;
            width: 0.8rem;
            height: 0.8rem;
            transform: translateY(-50%) rotate(45deg);
        }
    }

    &.red {
        &:hover, &.active, &:active {
            background: $oc-red-8;
        }
    }

    &.blue {
        &:hover, &.active, &:active {
            background: $oc-blue-8;
        }
    }

    &.grape {
        &:hover, &.active, &:active {
            background: $oc-grape-8;
        }
    }

    &.green {
        &:hover, &.active, &:active  {
            background: $oc-green-8;
        }
    }

    &.teal {
        &:hover, &.active, &:active  {
            background: $oc-teal-8;
        }
    }
}