nav {
    background-color: black;
    position: fixed;
    left: 0;
    top: $header-height;
    bottom: 0;
    padding-top: 0.7rem;
    display: inline-block;
    width: auto;
    z-index: $z-index-sidebar;

    @include media("<=tablet") {
        left: -70px;
        transition: all .3s ease-in;

        &.active {
            left: 0;
        }
    }

    @import 'MenuItem';
}