.orderer-list {
    .orderer-title {
        margin-top: 1rem;
        border-top: 1px solid $oc-gray-7;
        border-bottom: 1px solid $oc-gray-7;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-bottom: 0.7rem;
        color: $oc-gray-6;
        font-weight: 700;
        cursor: default;
        user-select: none;

        .badges {
            color: black;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            background: lightgray;
            display: inline-block;
            clear: right;
            text-align: center;
            font-size: .8rem;
            font-weight: 600;
            margin-left: 3px;
        }
    }

    .orderer-selected {
        display: none;
    }

    .orderer-list-scrollbar {
        height: calc(100vh - 12rem) !important;
    }

    .orderer-list-item {
        background: $oc-gray-9;
        color: white;
        border-bottom: 1px solid $oc-gray-7;

        @import 'OrdererItem';
    }

    @include media("<tablet") {
        float: left;
        width: 250px;
        height: 2.5rem;
        // overflow: hidden;
        position: relative;
        display: inline-block;
        margin-left: 1rem;

        .orderer-title {
            display: none;
        }

        .orderer-selected {
            width: 100%;
            height: 2.5rem;
            display: block;
            color: white;
            font-weight: 700;
            font-size: 1.1rem;
            padding: .6rem .5rem .6rem 1rem;
            user-select: none;
            cursor: pointer;
            border-radius: 4px;
            background: rgba(white, .1);

            &:hover {
                background: rgba(white, .25);
            }

            &:after {
                content: "▼";
                color: white;
                float: right;
                font-size: .5rem;
                margin-right: .5rem;
            }

            &:active, &.active {
                background: rgba(white, .4);

                &:after {
                    content: "▲";
                }
            }
        }

        .orderer-list-scrollbar {
            display: none;

            &.active {
                display: inline-block;
                position: fixed;
                top: 1px;
                left: 0;
                overflow: hidden;
                height: 300px !important;
                width: 260px !important;

                .orderer-list-item {
                    box-shadow: inset 0 15px 20px -10px rgba(white, .5);
                }
            }
        }
    }

}