a.orderer-item {
    font-weight: 600;
    padding: 0.7rem 1rem 0.7rem 1.5rem;
    height: 2.8rem;
    user-select: none;
    cursor: pointer;
    transition: background 0.2s ease-in;
    color: white;
    display: block;

    &:hover, &.active, &:active {
        .orderer-chevron {
            margin-right: -0.7rem;
        }
    }

    &:hover {
        background: $oc-grape-5;
    }
    &.active, &:active {
        background: $oc-grape-6;
    }

    &.no-item {
        text-align: center;
        transition: none;
        cursor: default;

        &:hover, &:active, &.active {
            background-color: transparent;
        }
    }

    .orderer-name {
        float: left;
    }

    .orderer-chevron {
        transition: all 0.2s ease-out;
        float: right;
    }
}

.no-item {
    align-items: center;
    cursor: default;

    font-weight: 600;
    padding: 0.7rem 1rem 0.7rem 1.5rem;
    height: 2.8rem;
    user-select: none;
}

.orderer-item + .orderer-item {
    border-top: 1px solid $oc-gray-7;
}