.orderer_info_wrapper {
    // position: absolute;
    // display: inline-block;
    // top: 4rem;
    margin-left: 300px;
    // right: 0px;
    // bottom: 0px;
    padding: 1.5rem 1.5rem 0;
    // background: radial-gradient(circle at top left, rgba($oc-yellow-8, .5) 10%, rgba($oc-blue-7, .7)), linear-gradient(to left bottom, red 10%, rgba(14, 170, 0, 0.6) 70%, rgba(pink, .3));

    &.noid {
        text-align: center;
        font-size: 2rem;
        line-height: 1.5;

        .bar-chart {
            flex: 2;
        }
    }

    .statinfo_wrapper {
        display: flex;
        
        .chart-wrapper {
            display: block;
        }
    }

    .orderer_info {
        margin: 0px auto 1.5rem;
        max-width: 900px;
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, .25);
        position: relative;
        background: white;
        padding-bottom: .5rem;

        @import 'InfoCard';
    }

    @include media("<tablet") {
        left: 0;
        margin-left: 0px;

        &.noid {
            .bar-chart {
                flex: 1;
            }
        }

        .statinfo_wrapper {
            flex-direction: column;
            flex-wrap: wrap;

            .card:last-child {
                margin: 1rem 0;
            }
        }
    }
}