.orderer-list {
    .orderer-title {
        margin-top: 1rem;
        border-top: 1px solid $oc-gray-7;
        border-bottom: 1px solid $oc-gray-7;
        padding-top: 0.7rem;
        padding-left: 1rem;
        padding-bottom: 0.7rem;
        color: $oc-gray-6;
        font-weight: 700;
    }

    .orderer-list-item {
        background: $oc-gray-9;
        color: white;
        border-bottom: 1px solid $oc-gray-7;

        @import 'OrdererItem';
    }

}