.input {
    outline: none;
    border: 1px solid lightgray;
    padding: .5rem .85rem;
    border-radius: 5px;
    font-size: 1rem;
    transition: all .4s;
    min-width: 22rem !important;

    &.icon {
        padding-left: 2.2rem;
    }
    &.rectangle {
        border-radius: 0px;
    }
    &.full-width {
        width: 100%;
    }
    &:focus {
        border: 1px solid #2f9244;
        color: #08471f;

        &::placeholder {
            color: rgb(79, 173, 79);
        }
        &::selection {
            background: #b2e9bd;
        }
    }
}